{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Random Commamder Generator
{% endblock %}

{% block content %}
    <h1 style="padding-left: 10px;">Random Commander Generator</h1>

    <form style="padding-left: 20px; padding-top: 0px;" method="post" role="form" novalidate>
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <h5>Color Identity Restrictions:</h5>
        {{ wtf.form_field(form.color_restrictions) }}
        <div style="padding-top: 5px;"></div>
        <h5>Popularity Restrictions:</h5>
        {{ wtf.form_field(form.edhrec_restrictions) }}
        <div style="padding-top: 5px;"></div>
        <h5>Max Converted Mana Cost:</h5>
        {{ wtf.form_field(form.cmc_max) }}
        <div style="padding-top: 5px;"></div>
        <h5>Max Price USD:</h5>
        {{ wtf.form_field(form.usd_max) }}
        <div style="padding-top: 5px;"></div>
        <h5>Max Price Tix:</h5>
        {{ wtf.form_field(form.tix_max) }}
        <div style="padding-top: 5px;"></div>
        <p>{{ form.mtgo_only() }} {{ form.mtgo_only.label }}</p>
        <p>{{ form.f_white_borders() }} {{ form.f_white_borders.label }}</p>

        <p>{{ form.submit() }}</p>
    </form>

    <br />

{% endblock %}