{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Random Commamder Generator
{% endblock %}

{% block content %}
    <h1 style="padding-left: 10px;">Random Commander Generator</h1>

    <form class="form form-horizontal" style="padding-left: 20px;" method="post" role="form" novalidate>
        {{ form.hidden_tag() }}
        {{ wtf.form_errors(form, hiddens="only") }}
        <br />
        <h4>Color Identity Restrictions:</h4>
        {{ wtf.form_field(form.color_restrictions) }}
        <br />
        <p>{{ form.submit() }}</p>
    </form>

{% endblock %}